body {
    font-family: Arial, sans-serif;
    background-color: #93C572;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #2c3e50;
}

p {
    color:#139;
    font-size: 18px;
}

img {
    width: 150px;   
    height: auto;  
    margin: 5px;
    border-radius: 5px;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
